.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css?family=VT323');
#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(70px + 2vmin);
    font-weight: bold;
    font-family: 'VT323', monospace;
    width:80%;
}

nav {
  list-style-type: none;
  white-space: nowrap;
}

li {
    padding: 35px;
    width: 100%;
}

.nav-link a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

li:hover {
    cursor: pointer;
}

