.navbar {
    width: 100%;
}

#nav {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    font-weight: bold;
}

nav {
  list-style-type: none;
  white-space: nowrap;
}

li {
    padding: 100px;
}

.nav-link a {
    text-decoration: none;
    color: white;
}

li:hover {
    cursor: pointer;
}

